.container-testimonialB {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
    }
}

.section-testimonialB__wrap {
    max-width: 750px;
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 84px;
    }
}

.section-testimonialB__description {
    margin-top: 30px;
    margin-bottom: 70px;
}

.section-testimonialB__list {
    display: grid;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(2, 173px);
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(3, 173px);
        gap: 60px 84px;
        justify-content: start;
    }
}

.section-testimonialB__item {
    img {
        margin-right: auto;
        margin-left: auto;
    }
}

.section-testimonialB__thumb {
    max-width: 686px;
}

.section-testimonialB__thumb-description {
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 71px 64px;
}

.thumb-description__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--titleColor);
    text-align: left;
    margin-bottom: 24px;
}

.thumb-description__text {
    font-size: 18px;
    line-height: 1.66;
}