.container-testimonialB {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.section-testimonialB__wrap {
    max-width: 750px;
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 84px;
    }
}

.section-testimonialB__description {
    margin-top: 30px;
    margin-bottom: 70px;
}

.section-testimonialB__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20px;

    @media screen and (min-width: $tablet) {
        margin-top: -60px;
        margin-left: -84px;
    }
}

.section-testimonialB__item {
    flex-basis: 100%;
    margin-top: 20px;

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2 - 84px);
        margin-top: 60px;
        margin-left: 84px;
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 3 - 84px);
    }

    img {
        margin-right: auto;
        margin-left: auto;
    }
}

.section-testimonialB__thumb {
    max-width: 686px;
}

.section-testimonialB__thumb-description {
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: 71px 64px;
}

.thumb-description__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--titleColor);
    text-align: left;
    margin-bottom: 24px;
}

.thumb-description__text {
    font-size: 18px;
    line-height: 1.66;
}