.section-testimonialA {
    margin-top: 20px;

    @media screen and (min-width: $tablet){
        margin-top: 80px;
    }

}

.section-testimonialA__title {
    text-align: center;
}

.section-testimonialA__description {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.section-testimonialA__list {
    display: grid;
    gap: 20px;
    justify-content: center;

    @media screen and (min-width: $tablet) {
        grid-template-columns: repeat(3, 173px);
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(6, 173px);
        gap: 84px;
    }
}

.section-testimonialA__item {

    img {
        height: 76px;
        margin-right: auto;
        margin-left: auto;
    }
}

